.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 2.5vmin;

  margin-bottom: 2rem;

  border: 5px solid navajowhite;
  border-radius: 2rem;

  overflow: hidden
}

@media (min-width: 480px) {
  .board {
    font-size: 1.5vmin;
  }
}

@media (min-width: 768px) {
  .board {
    font-size: 1rem;
  }
}